---
import MyLayout from '../layouts/main.astro'
---

<MyLayout title="404">
 <div style="height:80vh" class="w-full flex justify-center items-center"><h1 class="text-center text-6xl font-bold">404 not found</h1></div>
</MyLayout>