---
import Button from "./Button.astro";
---
<div class="flex md:flex-row flex-col gap-10 md:px-0 px-10">
  <div class="w-full flex flex-col gap-5">
    <h1 class="text-5xl md:text-6xl font-extrabold leading-tighter tracking-tighter mb-4 aos-init aos-animate">Make Label <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-red-400">Easily</span></h1>
    <p class="text-xl">Create custom labels for all your labeling needs with our easy-to-use label maker.</p>
    <div>
      <ul role="list" class="space-y-3 my-7">
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400">Free use for 7 days</span>
        </li>
        <li class="flex space-x-3">
            <!-- Icon -->
            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400">No credit card required</span>
        </li>
        
        
    </ul>
    </div>
    <div>
      <Button link="https://app.labelbaker.com">Start for Free</Button>
    </div>
    
  </div>
  <div class="w-full">
    <img
      class="rounded-md shadow-xl"
      src="https://labelbaker.com/assets/Label-Baker.68ea9826.png"
    />
  </div>
</div>
