<div class="flex">
  <div class="w-full">Make Label easily</div>
<div class="w-full px-5 py-5">
  <img class="rounded-md shadow-xl" src="https://labelbaker.com/assets/Label-Baker.68ea9826.png" />
</div>
</div>