---
const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-gray-100">
		<Header />
		<div class="container max-w-screen-xl mx-auto">
			<div class="my-10">
				<slot />
			</div>
		</div>
	</body>
</html>
